flows/Flow_Aviso_de_Vencimiento_de_Puntos-38.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CoA</name>
        <label>CoA</label>
        <locationX>358</locationX>
        <locationY>174</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Crear_Padre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existoid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EsPadre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Padre2</targetReference>
            </connector>
            <label>Crear Padre</label>
        </rules>
        <rules>
            <name>Actualizar_Padre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existoid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EsPadre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Padre3</targetReference>
            </connector>
            <label>Actualizar Padre</label>
        </rules>
        <rules>
            <name>Crear_Hijo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EsPadre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existoid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Hijo2</targetReference>
            </connector>
            <label>Crear Hijo</label>
        </rules>
        <rules>
            <name>Actualizar_Hijo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EsPadre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existoid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Hijo2</targetReference>
            </connector>
            <label>Actualizar Hijo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crear_o_Actualizar</name>
        <label>Crear o Actualizar</label>
        <locationX>460</locationX>
        <locationY>524</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Crea_Padre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existoid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Padre2</targetReference>
            </connector>
            <label>Crea Padre</label>
        </rules>
        <rules>
            <name>Actualizar_Padre4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existoid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Padre2</targetReference>
            </connector>
            <label>Actualizar Padre</label>
        </rules>
    </decisions>
    <formulas>
        <name>FPtosPadre</name>
        <dataType>Number</dataType>
        <expression>{!Puntos}+{!PtosPadre}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PtosPadreHijo</name>
        <dataType>Number</dataType>
        <expression>{!GPSPV.PtosPadre__c}+{!GPTT.Puntos_que_se_vencen__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Ptosviejos</name>
        <dataType>Number</dataType>
        <expression>{!GPTT.Puntos_que_se_vencen__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Flow Aviso de Vencimiento de Puntos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Aviso de Vencimiento de Puntos</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Padre2</name>
        <label>Crea Padre</label>
        <locationX>224</locationX>
        <locationY>522</locationY>
        <inputAssignments>
            <field>Apellido_del_cliente__c</field>
            <value>
                <elementReference>Apellidodelpadre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Celular__c</field>
            <value>
                <elementReference>Mobiledelpadre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_del_cliente__c</field>
            <value>
                <elementReference>Emaildelpadre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GPSPV.IDpadre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_del_cliente__c</field>
            <value>
                <elementReference>Nombredelpadre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Puntos_que_se_vencen__c</field>
            <value>
                <elementReference>FPtosPadre</elementReference>
            </value>
        </inputAssignments>
        <object>GP_Tabla_Temporaria__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Hijo2</name>
        <label>Crear Hijo</label>
        <locationX>278</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>Existe_el_Padre</targetReference>
        </connector>
        <inputAssignments>
            <field>Apellido_del_cliente__c</field>
            <value>
                <elementReference>Apellidodelcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Celular__c</field>
            <value>
                <elementReference>Celular</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_del_cliente__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GPSPV.Cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_del_cliente__c</field>
            <value>
                <elementReference>Nombredelcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Puntos_que_se_vencen__c</field>
            <value>
                <elementReference>Puntos</elementReference>
            </value>
        </inputAssignments>
        <object>GP_Tabla_Temporaria__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Padre2</name>
        <label>Crear Padre</label>
        <locationX>61</locationX>
        <locationY>297</locationY>
        <inputAssignments>
            <field>Apellido_del_cliente__c</field>
            <value>
                <elementReference>Apellidodelcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Celular__c</field>
            <value>
                <elementReference>Celular</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_del_cliente__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GPSPV.Cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_del_cliente__c</field>
            <value>
                <elementReference>Nombredelcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Puntos_que_se_vencen__c</field>
            <value>
                <elementReference>Puntos</elementReference>
            </value>
        </inputAssignments>
        <object>GP_Tabla_Temporaria__c</object>
    </recordCreates>
    <recordLookups>
        <name>Existe_el_Padre</name>
        <label>Existe el Padre</label>
        <locationX>463</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_o_Actualizar</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GPSPV.IDpadre__c</elementReference>
            </value>
        </filters>
        <object>GP_Tabla_Temporaria__c</object>
        <outputAssignments>
            <assignToReference>Existoid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Existo</name>
        <label>Existo</label>
        <locationX>375</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CoA</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GPSPV.Cuenta__c</elementReference>
            </value>
        </filters>
        <object>GP_Tabla_Temporaria__c</object>
        <outputAssignments>
            <assignToReference>Existoid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Hijo2</name>
        <label>Actualizar Hijo</label>
        <locationX>663</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>Existe_el_Padre</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GPSPV.Cuenta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apellido_del_cliente__c</field>
            <value>
                <elementReference>Apellidodelcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Celular__c</field>
            <value>
                <elementReference>Celular</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_del_cliente__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_del_cliente__c</field>
            <value>
                <elementReference>Nombredelcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Puntos_que_se_vencen__c</field>
            <value>
                <elementReference>Puntos</elementReference>
            </value>
        </inputAssignments>
        <object>GP_Tabla_Temporaria__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Padre2</name>
        <label>Actualizar Padre después de Hijo</label>
        <locationX>697</locationX>
        <locationY>525</locationY>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GPSPV.IDpadre__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Puntos_que_se_vencen__c</field>
            <value>
                <elementReference>FPtosPadre</elementReference>
            </value>
        </inputAssignments>
        <object>GP_Tabla_Temporaria__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Padre3</name>
        <label>Actualizar Padre</label>
        <locationX>455</locationX>
        <locationY>332</locationY>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GPSPV.Cuenta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apellido_del_cliente__c</field>
            <value>
                <elementReference>Apellidodelcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Celular__c</field>
            <value>
                <elementReference>Celular</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_del_cliente__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_del_cliente__c</field>
            <value>
                <elementReference>Nombredelcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Puntos_que_se_vencen__c</field>
            <value>
                <elementReference>Puntos</elementReference>
            </value>
        </inputAssignments>
        <object>GP_Tabla_Temporaria__c</object>
    </recordUpdates>
    <startElementReference>Existo</startElementReference>
    <variables>
        <name>Apellidodelcliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.Apellido_del_cliente__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Apellidodelpadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.Apellido_del_padre__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Celular</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.Celular__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Cuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.Cuenta__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.Email_del_cliente__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Emaildelpadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.Email_del_padre__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>EsPadre</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.EsPadre__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Existoid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPSPV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GP_Saldo_por_vencimiento__c</objectType>
    </variables>
    <variables>
        <name>GPTT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GP_Tabla_Temporaria__c</objectType>
    </variables>
    <variables>
        <name>IDpadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.IDpadre__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Mobiledelpadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.Celular_del_padre__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nombredelcliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.Nombre_del_cliente__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nombredelpadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GPSPV.Nombre_del_Padre__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PtosPadre</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>GPSPV.PtosPadre__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Puntos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>GPSPV.Puntos__c</elementReference>
        </value>
    </variables>
</Flow>
