flows/JBSystemFlow_Contact-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj53f78d0e3c8e31864acc739c231fbac5_FireJBTrigger</name>
        <label>SalesforceObj53f78d0e3c8e31864acc739c231fbac5_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj53f78d0e3c8e31864acc739c231fbac5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100006079</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_FireJBTrigger</name>
        <label>SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj53f78d0e3c8e31864acc739c231fbac5</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj53f78d0e3c8e31864acc739c231fbac5</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100006079</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj53f78d0e3c8e31864acc739c231fbac5</name>
        <label>JB_Decision_Null_Check_SalesforceObj53f78d0e3c8e31864acc739c231fbac5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj53f78d0e3c8e31864acc739c231fbac5_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj53f78d0e3c8e31864acc739c231fbac5_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj53f78d0e3c8e31864acc739c231fbac5_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5</name>
        <label>JB_Decision_Null_Check_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj53f78d0e3c8e31864acc739c231fbac5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj53f78d0e3c8e31864acc739c231fbac5_Decision</name>
        <label>JB_SalesforceObj53f78d0e3c8e31864acc739c231fbac5_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj53f78d0e3c8e31864acc739c231fbac5</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj53f78d0e3c8e31864acc739c231fbac5_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj53f78d0e3c8e31864acc739c231fbac5</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj53f78d0e3c8e31864acc739c231fbac5_State_change_Decision</name>
        <label>JB_SalesforceObj53f78d0e3c8e31864acc739c231fbac5_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj53f78d0e3c8e31864acc739c231fbac5</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj53f78d0e3c8e31864acc739c231fbac5_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj53f78d0e3c8e31864acc739c231fbac5</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_Decision</name>
        <label>JB_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj53f78d0e3c8e31864acc739c231fbac5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_State_change_Decision</name>
        <label>JB_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj53f78d0e3c8e31864acc739c231fbac5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObja09e49f45dbb993f2c56c9c0dcf611e5</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
